export(PlotPotential)
export(UnivariateGrouping)
export(bdstest_ews)
export(ch_ews)
export(ddjnonparam_ews)
export(find.optima)
export(generic_ews)
export(livpotential_ews)
export(movpotential_ews)
export(qda_ews)
export(sensitivity_ews)
export(surrogates_ews)
import(Kendall)
import(KernSmooth)
import(lmtest)
import(nortest)
import(quadprog)
import(som)
import(spam)
import(stats)
importFrom(fields,image.plot)
importFrom(ggplot2,ggplot)
importFrom(moments,kurtosis)
importFrom(moments,skewness)
importFrom(tgp,interp.loess)
importFrom(tseries,bds.test)
importFrom(tseries,garch)
